{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact us | IEEE Travancore Hub Meet 2019 - TKM College of Engineering </title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129415078-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-129415078-2');
  </script>
  <meta name="description" content="Official website of IEEE Travancore Hub Meet 2019, TKM College of Engineering.">
  <meta name="keywords" content="IEEE Travancore Hub Meet 2019,THM19,IEEE,IEEE SB TKMCE,IEEEorg,IEEER10,TKMCE,TKM College of engineering,IEEE Kerala,THM19">
  <link rel="icon" href="{% static 'src/images/thm-logo-white.png' %}" type="image/icon">
  <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700|Arimo:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'dist/css/style-contact.css' %}">
  <style>
    .head-font,
    h2,
    h4,
    h3,
    span {
      font-family: 'Montserrat', sans-serif;
    }

    @media (min-width: 640px) {
      .padding {
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

    p {
      font-size: 2.5vh;
      font-family: 'Montserrat', sans-serif;
    }
  </style>
</head>

<body class="t">
  <div class="ng">
    <header class="nu">
      <div class="tcontainern">
        <div class="nc">
          <div class="nl reveal-scale-down">
            <h1 class="su"><a href="./"><img src="{% static 'src/images/thm-logo.svg' %}" width="200px" alt="THM Logo"></a></h1>
          </div><button id="tu" class="tu" aria-controls="primary-menu" aria-expanded="false"><span class="ia">Menu</span> <span class="ta"><span class="tf"></span></span></button>
          <nav id="nh" class="nh">
            <div class="np">
              <ul class="if h nv">
                <li class="reveal-scale-down" data-reveal-delay="100"><a href="/about">ABOUT</a></li>
              </ul>
              <ul class="if nv">
                <li class="reveal-scale-down" data-reveal-delay="200"><a class="tbuttonn fbuttonl sbuttono" href="./">HOME</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main class="na">

      <section class="rq nf sillustration-section-o">
        <div class="tcontainern">
          <div class="padding features-split-inner rn sn">
            <div class="rr si">
              <div class="scontainero">
                <!-- <h2 class="su">CONTACT US</h2> -->
              </div>
            </div>
            <div class="tj nt">
              <div class="split-item">
                <div class="ne uz reveal-from-right" data-reveal-container=".split-item">
                  <h3 class="sa or">CONTACT US</h3>
                  <p class="su">Name : <a href="tel:">Phone</a>&nbsp;&nbsp;<a href="mailto:"> Mail</a></p>
                  <p class="su">Name : <a href="tel:">Phone</a>&nbsp;&nbsp;<a href="mailto:"> Mail</a></p>
                  <p class="su">Name : <a href="tel:">Phone</a>&nbsp;&nbsp;<a href="mailto:"> Mail</a></p>
                  <p class="su"><a href="mailto:">Email</a></p>

                </div>
                <div class="tq sillustration-element-o reveal-scale-down" data-reveal-container=".split-item"><img src="{% static '/dist/images/features-split-image.svg' %}" alt="Features split image 02" width="472" height="354">
                  <div style="position:absolute;width:113.26%;max-width:113.26%;top:-8.84%;left:-3.41%;"><img src="{% static '/dist/images/features-split-top-02.png' %}" alt="Features split top 02" width="654" height="522"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
  <script src="{% static 'dist/js/contact-main.min.js' %}"></script>
</body>

</html>
