{% load static %}
<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>IEEE Travancore Hub Meet 2019 - TKM College of Engineering</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-129415078-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-129415078-2");
    </script>
    <meta
      name="description"
      content="Official website of IEEE Travancore Hub Meet 2019, TKM College of Engineering."
    />
    <meta
      name="keywords"
      content="IEEE Travancore Hub Meet 2019,THM19,IEEE,IEEE SB TKMCE,IEEEorg,IEEER10,TKMCE,TKM College of engineering,IEEE Kerala,THM19"
    />
    <link
      rel="icon"
      href="{% static 'src/images/thm-logo-white.png' %}"
      type="image/icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oxygen:400,700|Arimo:400,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://necolas.github.io/normalize.css/7.0.0/normalize.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:600,400&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

    <style>
      .head-font,
      h1,
      h2,
      h4,
      h3,
      span,
      a {
        font-family: "Montserrat", sans-serif;
      }

      @media (min-width: 640px) {
        .site-header {
          padding-top: 0px !important;
          padding-bottom: 0px !important;
					transform: translateY(24px);
        }
      }

      p {
        font-size: 2.5vh;
        font-family: "Montserrat", sans-serif;
      }
    </style>
    <link rel="stylesheet" href="{% static 'dist/css/style.css' %}" />
  </head>

  <body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
      <header class="site-header">
        <div class="container">
          <div class="site-header-inner">
            <div class="brand header-brand">
              <h1 class="m-0">
                <a href="/">
                  <img
                    src="{% static 'src/images/thm-logo.svg' %}"
                    width="200px"
                    alt="THM Logo"
                  />
                </a>
              </h1>
            </div>
          </div>
        </div>
      </header>

      <main>
        <section class="hero">
          <div class="hero-left-decoration is-revealing"></div>
          <div class="hero-right-decoration is-revealing"></div>
          <div class="container">
            <div class="hero-inner">
              <div class="hero-copy">
                <h1 class="hero-title mt-0 is-revealing">
                  IEEE Travancore Hub Meet 2019
                </h1>
                <p class="hero-paragraph is-revealing">
                  TKM College of Engineering - Kollam
                </p>
                <p class="hero-paragraph is-revealing">
                  11-13 October 2019
                </p>
                <p class="hero-cta mb-0 is-revealing">
                  <a class="button button-primary button-shadow" href="#events"
                    >What's happening?</a
                  >
                </p>
              </div>
              <div class="hero-illustration"></div>
            </div>
          </div>
        </section>

        <section class="clients section">
          <div class="container">
            <div class="clients-inner section-inner has-top-divider">
              <div class="container-sm">
                <!-- <ul class="list-reset mb-0">
                  <li class="is-revealing">
                    <img
                      src="dist/images/facebook-logo.svg"
                      alt="Facebook logo"
                    />
                  </li>
                  <li class="is-revealing">
                    <img src="dist/images/tinder-logo.svg" alt="Tinder logo" />
                  </li>
                  <li class="is-revealing">
                    <img src="dist/images/airbnb-logo.svg" alt="Airbnb logo" />
                  </li>
                  <li class="is-revealing">
                    <img
                      src="dist/images/microsoft-logo.svg"
                      alt="Microsoft logo"
                    />
                  </li>
                  <li class="is-revealing">
                    <img
                      src="dist/images/hubspot-logo.svg"
                      alt="Hubspot logo"
                    />
                  </li>
                </ul> -->
              </div>
            </div>
          </div>
        </section>

        <section class="features section text-center" id="events">
          <div class="container">
            <div class="features-inner section-inner has-top-divider">
              <div class="features-header text-center">
                <div class="container-sm">
                  <h2 class="section-title mt-0">
                    Events
                  </h2>
                  <p class="section-paragraph mb-0">
                    Come & Join us
                  </p>
                </div>
              </div>
              <div class="features-wrap">
                {% for catagory in catagories %}
                <a href="{{ catagory.name }}">
                  <div class="feature is-revealing" style="max-width: 300px; padding: 17px;">
                    <div class="feature-inner">
                      <div class="feature-icon">
                        <img src="{{ catagory.thumb }}" alt="Feature 01" />
                      </div>
                      <a href="{{ catagory.name }}">
                        <h4 class="feature-title">{{ catagory.name }}</h4>
                      </a>
                      <p class="text-sm text-left" style="margin: 5px 0; padding: 7px; font-weight: 100 !important;">{{ catagory.desc }}</p>
                    </div>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer class="site-footer">
        <div class="container">
          <div class="site-footer-inner">
            <div class="brand footer-brand">
								<a href="/">
                  <img
                    src="{% static 'src/images/thm-logo-white.png' %}"
                    width="30px"
                    alt="THM Logo"
                  />
                </a>
            </div>
            <ul class="footer-links list-reset">
              <li>
                <a href="/contact">Contact</a>
              </li>
              <li>
                <a href="/about">About us</a>
              </li>
            </ul>
            <ul class="footer-social-links list-reset">
              <li>
                <a href="#">
                  <span class="screen-reader-text">Facebook</span>
                  <svg
                    width="16"
                    height="16"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z"
                      fill="#FFF"
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="screen-reader-text">Twitter</span>
                  <svg
                    width="16"
                    height="16"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z"
                      fill="#FFF"
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="screen-reader-text">Google</span>
                  <svg
                    width="16"
                    height="16"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.9 7v2.4H12c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4 0-2.4 2-4.4 4.3-4.4 1.4 0 2.3.6 2.8 1.1l1.9-1.8C11.5 1.7 9.9 1 8 1 4.1 1 1 4.1 1 8s3.1 7 7 7c4 0 6.7-2.8 6.7-6.8 0-.5 0-.8-.1-1.2H7.9z"
                      fill="#FFF"
                    />
                  </svg>
                </a>
              </li>
            </ul>
            <div class="footer-copyright">
              &copy; 2019 IEEE SB TKMCE, all rights reserved
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="{% static 'dist/js/main.min.js' %}"></script>
  </body>
</html>
